{% extends "layout.html" %} {% set active_page = "services" %} {% block content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
</div>
<div class="tiles-container">
{% for service_cat in service_categories %}
  <a
    class="clickable-tile"
    role="button"
    id="{{ service_cat.id }}"
    name="{{ service_cat.name }}"
    onclick='getSubcategoriesButtons("{{ service_cat.id }}",main_cat=true);resetButtonContainer()'
  >
  <div class="tile-content">
  <div class="delete-button">
    <span data-feather="trash-2" onclick='deleteCategory(event)'></span>
  </div>
  {{ service_cat.name }}
  </div>
  </a>
{% endfor %}
<a
class="clickable-tile add"
role="button"
onclick="addMainCategory()"
>
<span data-feather="plus"></span>
</a>
</div>
<div class="button-container">
</div>
<script>
  let selected_categories_name_cascade = ''
  function getSubcategoriesButtons(category_id, main_cat, category_name=null) {
    if (!main_cat){
      selected_categories_name_cascade += category_name + " "
    }
    // Send a GET request to the Flask URL
    fetch('/services/get_subcategories/' + parseInt(category_id))
      .then(response => response.json())
      .then(data => {
        // Create a new row for the buttons
        const newRow = document.createElement('div');
        newRow.classList.add('tiles-container');
        // If there is no more subcategories
        if (data.length === 0){
          fetch('/services/get_action/' + parseInt(category_id))
          .then(response => response.json())
          .then(data => {
            if (Object.keys(data).length !== 0){
              const new_tile = document.createElement('tile');
              new_tile.className = 'clickable-tile' 
              const tile_content = document.createElement('div')
              tile_content.innerHTML = data.name + "<br> cena: " + data.price + " zł";
              tile_content.className = 'tile-content'
              new_tile.id = data.id
              new_tile.name = data.name
              new_tile.price = data.price
              var item_id = data.id
              new_tile.addEventListener('click', editServiceAction);
              const delButton_div = document.createElement('div');
              const delButton = document.createElement('a');
              delButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>'
              delButton.addEventListener('click', deleteServiceAction);
              delButton.addEventListener('touchend', handleActionTouchEnd);
              delButton_div.className="delete-button"
              delButton_div.appendChild(delButton)
              tile_content.appendChild(delButton_div)
              new_tile.appendChild(tile_content)
              newRow.appendChild(new_tile);
          } else {
              const add_span = document.createElement('span');
              add_span.setAttribute("data-feather", "plus");
              // no data -> add new service action or new subcategory
              //if (!main_cat) {
              const newAddActionButton = document.createElement('tile');
              newAddActionButton.className = 'clickable-tile add' 
              const action_tile_content = document.createElement('div')
              action_tile_content.className = 'tile-content'
              newAddActionButton.appendChild(add_span);
              newAddActionButton.addEventListener('click', () => {
                addServiceAction(category_id, selected_categories_name_cascade)
              });
              var buttonText = document.createTextNode(" Czynność serwisowa");
              newAddActionButton.appendChild(buttonText);
              newRow.appendChild(newAddActionButton)
              feather.replace();
              //}
              const newAddSubCategoryButton = document.createElement('tile');
              newAddSubCategoryButton.className = 'clickable-tile add' 
              const subcategory_tile_content = document.createElement('div')
              subcategory_tile_content.className = 'tile-content'
              newAddSubCategoryButton.appendChild(add_span);
              newAddSubCategoryButton.addEventListener('click', () => {
                addNewSubcategory(category_id)
              });
              var buttonText = document.createTextNode(" Podkategoria");
              
              newAddSubCategoryButton.appendChild(buttonText);
              newRow.appendChild(newAddSubCategoryButton)
              feather.replace();
          }
          });
        }
        else {
  
        // Add a button for each item in the response
        data.forEach(item => {
          const newButton = document.createElement('tile');
          const tile_content = document.createElement('div')
          tile_content.textContent = item.name;
          tile_content.className = 'tile-content'
          newButton.id = item.id;
          newButton.name = item.name
          newButton.className="clickable-tile";
          newButton.addEventListener('click', () => {
            getSubcategoriesButtons(item.id, main_cat=false, item.name)
          });
          const delButton_div = document.createElement('div');
          const delButton = document.createElement('a');
          delButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>'
          delButton.addEventListener('click', deleteCategory);
          delButton.addEventListener('touchend', handleTouchEnd);
          delButton_div.className="delete-button"
          delButton_div.appendChild(delButton)
          tile_content.appendChild(delButton_div);
          newButton.appendChild(tile_content)
          newRow.appendChild(newButton);
        });
        const newAddButton = document.createElement('a');
        const add_span = document.createElement('span');
        add_span.setAttribute("data-feather", "plus");
        newAddButton.appendChild(add_span);
        newAddButton.role = 'button'
        newAddButton.className="clickable-tile add";

        newAddButton.addEventListener('click', () => {
          addNewSubcategory(category_id)
        });
        // create a text node with the text content of the button
        //var buttonText = document.createTextNode(" Dodaj nową podkategorie");
        // append the text node to the button
        //newAddButton.appendChild(buttonText);
        newRow.appendChild(newAddButton)
      }
        // Add the new row to the page
        const container = document.querySelector('.button-container');
        container.innerHTML += '<br>'
        container.appendChild(newRow);
        feather.replace();
        
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>
<script>
  function resetButtonContainer(){
      selected_categories_name_cascade = ''
      document.querySelector('.button-container').innerHTML = "";
  }
</script>
<script>
  function addServiceAction(category_id, service_name){
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.setAttribute('style','display:flex;')
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Dodaj nową czynność serwisową</h2>
        <br>
        Nazwa: <input class=service_name></input>
        <br>
        Cena: <input class=service_price></input>
        <button class="modal-button yes-button">Dodaj</button>
        <br>
        <button class="modal-button no-button">Wróc</button>
      </div>
    `;
    document.body.appendChild(modal);
    modal.querySelector('.service_name').value = service_name
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      const new_action_name = modal.querySelector('.service_name').value;
      const new_action_price = modal.querySelector('.service_price').value;
      fetch(`/services/actions/add/${category_id}/${new_action_name}/${new_action_price}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to add service action: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to add service action: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });
  }
  function addMainCategory(){
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.setAttribute('style','display:flex;')
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Dodaj nową główną kategorię</h2>
        <br>
        Nazwa: <input class=category_name></input>
        <br>
        <button class="modal-button yes-button">Dodaj</button>
        <br>
        <button class="modal-button no-button">Wróc</button>
      </div>
    `;
    document.body.appendChild(modal);
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      const new_category_name = modal.querySelector('.category_name').value;
      fetch(`/services/categories/new/${new_category_name}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to delete tile with ID ${tileId}: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to delete tile with ID ${tileId}: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });
  };  
  function addNewSubcategory(category_id) {
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.setAttribute('style','display:flex;')
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Dodaj nową podkategorię</h2>
        <br>
        Nazwa: <input class=subcategory_name></input>
        <br>
        <button class="modal-button yes-button">Ok</button>
        <br>
        <button class="modal-button no-button">Wróc</button>
      </div>
    `;
    document.body.appendChild(modal);
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      const new_subcategory_name = modal.querySelector('.subcategory_name').value;
      fetch(`/services/subcategories/new/${category_id}/${new_subcategory_name}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to delete tile with ID ${tileId}: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to delete tile with ID ${tileId}: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });
  };  
  let touchTimeout;
  function handleTouchEnd(event) {
    clearTimeout(touchTimeout);
    touchTimeout = setTimeout(() => {
      deleteCategory(event);
    }, 300); // 300ms delay before registering click
  }
  function handleActionTouchEnd(event) {
    clearTimeout(touchTimeout);
    touchTimeout = setTimeout(() => {
      deleteServiceAction(event);
    }, 300); // 300ms delay before registering click
  }
  function deleteServiceAction(event) {
    const tile = event.target.closest('.clickable-tile');
    const tileId = tile.id;
    const tileName = tile.name;
    const modal = document.createElement('div');
    modal.setAttribute('style','display:flex;')
    modal.classList.add('modal');
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Czy jestes pewny ze chcesz usunać ` + tileName + `?</h2>
        <br>
        <button class="modal-button yes-button">Tak</button>
        <br>
        <button class="modal-button no-button">Nie</button>
      </div>
    `;
    document.body.appendChild(modal);
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      fetch(`/services/actions/del/${tileId}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to delete tile with ID ${tileId}: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to delete tile with ID ${tileId}: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });

  }
  function editServiceAction(event){
    const tile = event.target.closest('.clickable-tile');
    const tileId = tile.id;
    const tileName = tile.name;
    const tilePrice = tile.price
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.setAttribute('style','display:flex;')
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Edycja ` + tileName + `</h2>
        <br>
        Nazwa: <input class=tile_name></input>
        <br>
        Cena: <input class=tile_price></input>
        <br>
        <button class="modal-button yes-button">Ok</button>
        <br>
        <button class="modal-button no-button">Wróc</button>
      </div>
    `;
    modal.querySelector('.tile_name').value = tileName
    modal.querySelector('.tile_price').value = tilePrice
    document.body.appendChild(modal);
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      const new_tile_name = modal.querySelector('.tile_name').value;
      const new_tile_price = modal.querySelector('.tile_price').value;
      fetch(`/services/actions/edit/${tileId}/${new_tile_name}/${new_tile_price}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to delete tile with ID ${tileId}: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to delete tile with ID ${tileId}: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });
  };
  function deleteCategory(event) {
    const tile = event.target.closest('.clickable-tile');
    const tileId = tile.id;
    const tileName = tile.name;
    const modal = document.createElement('div');
    modal.setAttribute('style','display:flex;')
    modal.classList.add('modal');
    modal.innerHTML = `
      <div class="modal-content">
        <h2>Czy jestes pewny ze chcesz usunać ` + tileName + `?</h2>
        <br>
        <button class="modal-button yes-button">Tak</button>
        <br>
        <button class="modal-button no-button">Nie</button>
      </div>
    `;
    document.body.appendChild(modal);
    const yesButton = modal.querySelector('.yes-button');
    const noButton = modal.querySelector('.no-button');
    yesButton.addEventListener('click', () => {
      fetch(`/services/subcategories/del/${tileId}`, { method: 'POST' })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error(`Failed to delete tile with ID ${tileId}: ${response.status} ${response.statusText}`);
          }
        })
        .catch(error => {
          console.error(`Failed to delete tile with ID ${tileId}: ${error}`);
        });
    });
    noButton.addEventListener('click', () => {
      modal.remove();
    });
  }
  
  function closeModal() {
    const modal = document.querySelector('.modal');
    modal.remove();
  }
</script>
{% endblock %}
</div>

