{% extends "layout.html" %} {% set active_page = "leads" %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="{{ url_for('leads.update_lead', lead_id=lead.id) }}" class="btn btn-md btn-outline-primary mr-2"
      role="button">
      <span data-feather="edit-2"></span>
      Edytuj
    </a>
    <a href="" class="btn btn-md btn-outline-secondary" role="button" id="print-btn">
      <span data-feather="printer"></span>
      Drukuj
    </a>
    <a href="{{ url_for('leads.get_leads_view') }}" class="btn btn-md btn-outline-secondary" role="button">
      <span data-feather="arrow-left"></span>
      Powrót do listy
    </a>
  </div>
</div>
<div class="row printable">
  <div class="col-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item g_field">
        <div class="label">SMS</div>
        <div type="text">{{ 'Tak' if lead.sms_sent else 'Nie' }}</div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Nazwa</div>
        <div class="text">{{ lead.title if lead.title else '_' }}</div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Imię</div>
        <div class="text">
          {{ contact.first_name if contact.first_name else '_' }}
        </div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Telefon</div>
        <div class="text">
          {{ contact.phone if contact.phone else '_' }}
        </div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Rower</div>
        <div class="text">
          {{ bike.manufacturer if bike.manufacturer else '_' }} {{ bike.model if
          bike.model else '_' }}
        </div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Status</div>
        <div class="text">
          {{ lead.status.status_name if lead.status else '_' }}
        </div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Data wizyty</div>
        <div class="text">
          {{ lead.date_scheduled if lead.date_scheduled else '_' }}
        </div>
      </li>
      <li class="list-group-item g_field">
        <div class="label">Notatki</div>
        <div class="text">
          {{ lead.notes if lead.notes else '_' }}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row printable">
  <div class="col-10">
    <ul class="list-group list-group-flush">
      <li class="list-group-item g_field col-12">
        <div class="label">Czynnośći serwisowe</div>
        <div class="text">
          {% if lead.services %}
          {% for service in lead.services %}
            {{ service.name }} - {{ service.price }} zł <br>
          {% endfor %}
          {% else %}
            _
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row printable">
  <div class="col-10">
    <ul class="list-group list-group-flush">
      <li class="list-group-item g_field col-12">
        <div class="label">Przyblizona cena całkowita serwisu</div>
        <div class="text" style="font-size: 40px;">{{ lead.total_price if lead.total_price else '_' }} zł</div>
      </li>
    </ul>
  </div>
</div>
<script>
// Get the button element
const printBtn = document.getElementById('print-btn');

// Add a click event listener to the button
printBtn.addEventListener('click', () => {
  // Get all the div elements with the specified classes
  const divsToPrint = document.querySelectorAll('.row.printable');

  // Create a new container div element to hold the selected div elements
  const containerDiv = document.createElement('div');

  // Loop through each div element and add it to the container div
  divsToPrint.forEach(div => {
    containerDiv.appendChild(div.cloneNode(true));
  });

  // Create a new window to print the contents
  const printWindow = window.open('Zlecenie serwisowe', 'Print', 'height=600,width=800');

  // Write the contents of the container div to the new window
  printWindow.document.write(containerDiv.innerHTML);

  // Call the browser's print function to print the contents
  printWindow.print();

  // Close the new window
  printWindow.close();
});
</script>
{% endblock %}