user www-data;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    server {
        listen 443 ssl;
        server_name craftbike.pl;
        ssl_certificate     /etc/letsencrypt/live/craftbike.pl/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/craftbike.pl/privkey.pem;
        # Disable TLS 1.0 and TLS 1.1
        ssl_protocols TLSv1.2 TLSv1.3;

        # Enable only strong cipher suites
        ssl_ciphers         HIGH:!aNULL:!MD5;
        # Other SSL configurations
        ssl_prefer_server_ciphers on;
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_session_tickets off;

        # Additional security headers
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        location /serwis {
            proxy_pass http://localhost:8003;
            proxy_read_timeout 3600;
            proxy_connect_timeout 3600;
            proxy_send_timeout 3600;
            send_timeout 3600;
        }
        
    }
}