{% extends "layout.html" %} {% set active_page = "calendar" %} {% block content %}
<div class="form-row" id="calendar_row" style="display: none">
    <div class="col">
    <br><br>
      <h5>Kalendarz</h5>
      <div>Legenda: </div>
      <div style="color:blue">&#9632; - umówiony na serwis</div>
      <div style="color:orange">&#9632; - przyjęty na serwis</div>
      <div style="color:green">&#9632; - gotowy</div>
      <div id="calendar"></div>
      <br />
</div>
<script>
    var calendarEl = document.getElementById("calendar");
    var calendar_row = document.getElementById("calendar_row");
    var date_scheduled = document.getElementById("date_scheduled");
    //date_scheduled.value = "";
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridWeek",
        locale: "pl",
        selectable: true,
        height: 400,
        select: function (info) {
        // Get the selected date and format it as yyyy-mm-dd
        var selectedDate = moment(info.start).format("YYYY-MM-DD");

        // Store the selected date in a hidden input field
        document.getElementById("date_scheduled").value = selectedDate;
        },
        events: {
        url: "/leads/get_scheduled",
        method: "GET",
        },
    });
    calendar_row.style.display = "block";
    calendar.render();
</script>
{% endblock %}