<div class="modal fade ba_modal" id="calendarmodal" tabindex="-1" role="dialog"
     aria-labelledby="calendarmodal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <meta charset="UTF-8">
                <title>Kalendarz</title>
                    <script type='importmap'>
                      {
                        "imports": {
                          "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.5",
                          "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.5",
                          "@fullcalendar/interaction": "https://cdn.skypack.dev/@fullcalendar/interaction@6.1.5"
                        }
                      }
                    </script>  
                <h5 class="modal-title" id="calendarmodal">Wybierz dzień</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <script type='module'>
                    import { Calendar } from '@fullcalendar/core';
                    import dayGridPlugin from '@fullcalendar/daygrid';
                    import interactionPlugin from '@fullcalendar/interaction';
                    var events = []
                    $.ajax({
                            url: "/leads/get_scheduled",
                            type: "GET",
                            success: function(response) {
                                events = response;
                            }
                        });
                    document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');

                    var calendar = new Calendar(calendarEl, {
                        plugins: [ interactionPlugin, dayGridPlugin ],
                        initialView: 'dayGridMonth',
                        selectable: true,
                        select: function(info)  {
                        // Get the selected date and format it as yyyy-mm-dd
                        var selectedDate = moment(info.start).format('YYYY-MM-DD');

                        // Store the selected date in a hidden input field
                        document.getElementById('selected-date').value = selectedDate;
                        },
                        events: events
                    });

                    calendar.render();
                    });
                </script>
            </div>
            <div class="modal-body">
                <label>Kalendarz</label>
                <div id='calendar'></div>
                <label for="selected-date">Wybrana data:</label>
                <input type="text" id="selected-date" name="selected-date"><br><br>

            </div>
        </div>
    </div>
</div>