{% extends "layout.html" %} {% set active_page = "dashboard" %} {% block content
%}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
  <a
  class="btn btn btn-sm btn-outline-primary"
  role="button"
  href="{{ url_for('leads.new_lead') }}"
  >
  <span data-feather="plus"></span>
  Nowe zlecenie
  </a>
</div>
{% include "kanban_filters.html" %}
{% if lead_statuses|length > 0 %}
<div class="container-fluid" style="background-color: #f1f1f1; padding: 20px">
  <div class="kanban-container">
    {% for lead_status in lead_statuses %}

    <div class="card outer-card">
      <div
        id="cb_{{ lead_status.id }}"
        class="card-body"
        data-dropstage="{{ lead_status.id }}"
      >
        <h5 class="card-title">{{ lead_status.status_name }}</h5>
        {% for lead in leads %} {% if lead.status.status_name ==
        lead_status.status_name %}
        <div
          id="item_{{ lead.id }}"
          data-dealid="{{ lead.id }}"
          class="card inner-card bg-light mb-3"
          draggable="true"
        >
          <div class="card-body">
            <h5 class="card-title">
              <div class="text">{{ lead.title|truncate(35, True)}}</div>
            </h5>
            <div class="card-text">
              <div>
                <span data-feather="phone"></span> {{ lead.lead_contact.phone }}
              </div>
              <div>
                <span data-feather="user"></span> {{ lead.lead_contact.first_name }}
              </div>
              {% if lead.status.status_name == "Umówiony na serwis" %}
              <div>
                <span data-feather="calendar"></span> {{ lead.date_scheduled }}
              </div>
              {% endif %}
              {% if lead.status.status_name == "Gotowy" %}
              <div>
                <span data-feather="message-square"></span> {{ 'Tak' if lead.sms_sent else 'Nie' }}
              </div>
              {% endif %}
            </div>
            <div class="card-actions">
              <div class="ca_item">
                <a
                  href="leads/edit/{{ lead.id }}"
                  class="btn btn-sm btn-outline-secondary"
                  role="button"
                >
                  <span data-feather="edit"></span> Edytuj zlecenie
                </a>
              </div>
              <!--<div class="card-actions">
               <div class="ca_item">
                <a
                  href="/leads/{{ lead.id }}"
                  class="btn btn-sm btn-outline-secondary"
                  role="button"
                >
                  <span data-feather="arrow-up-right"></span> Szczególy zlecenia
                </a>
              </div> 
            </div>-->
              {% if lead.status.status_name == "Gotowy" %}
              <div class="card-actions">
                <div class="ca_item">
                  <a
                    class="btn btn-sm btn-outline-secondary"
                    role="button"
                    onClick="send_sms('{{ lead.id }}', '{{ lead.sms_sent}}');"
                  >
                    <span data-feather="message-square"></span> Wyślij SMS
                  </a>
                </div>
                <div><br></div>
                <div class="ca_item">
                  <a
                    class="btn btn-sm btn-outline-secondary"
                    role="button"
                    onClick="update_deal_stage('{{ lead.id }}', 6);"
                  >
                    <span data-feather="log-out"></span> Odebrany
                  </a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container text-center pt-4">
  <div><span data-feather="eye-off"></span></div>
  <p>Brak rowerów na serwisie!</p>
</div>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script>
  function allowDrop(ev) {
    ev.preventDefault();
    ev.stopPropagation();
  }

  function send_sms(leadId, leadSmsSent) {
    $(".ajax_indicator")
      .css("display", "block")
      .text("przetwarzam")
      .removeClass("done")
      .addClass("processing");
    if (leadSmsSent == 'True'){
      var result = confirm("Ponownie wysłać sms?");
      if (!result) {
        $(".ajax_indicator")
        .removeClass("processing")
        .addClass("done")
        .fadeOut(2000);
        setTimeout(function(){
          window.location.reload();
       }, 1000);
        return
      }
    }
    $.ajax({
      type: "POST",
      url: urlForAjax("leads/send_sms/" + leadId),
      contentType: "application/json",
      dataType: "json",
      success: function (data) {
        alert('SMS wysłany poprawnie!');
        $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.message)
          .removeClass("processing")
          .addClass("done")
          .fadeOut(2000);
      },
      error: function (data) {
        if (data.responseJSON){
          alert('Nie udało sie wysłać SMS: ' + data.responseJSON.message);
          $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.responseJSON.message)
          .removeClass("processing")
          .addClass("error")
          .fadeOut(2000);
        } else {
          $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.statusText)
          .removeClass("processing")
          .addClass("error")
          .fadeOut(2000);
        }
      },
    });
    setTimeout(function(){
      window.location.reload();
   }, 1000);
  }
  function update_deal_stage(leadId, leadStageId) {
    $(".ajax_indicator")
      .css("display", "block")
      .text("przetwarzam")
      .removeClass("done")
      .addClass("processing");

    $.ajax({
      type: "POST",
      url: urlForAjax("leads/update_stage/" + leadId + "/" + leadStageId),
      contentType: "application/json",
      dataType: "json",
      success: function (data) {
        $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.message)
          .removeClass("processing")
          .addClass("done")
          .fadeOut(2000);
      },
      error: function (data) {
        if (data.responseJSON){
          $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.responseJSON.message)
          .removeClass("processing")
          .addClass("error")
          .fadeOut(2000);
        } else {
          $(".ajax_indicator")
          .html("<span data-feather='check'></span> " + data.statusText)
          .removeClass("processing")
          .addClass("error")
          .fadeOut(2000);
        }

      },
    });
    setTimeout(function(){
      window.location.reload();
   }, 1000);
  }

  function getDragAfterElement(column, y) {
    const draggableCards = [
      ...column.querySelectorAll(".card.inner-card:not(.dragging)"),
    ];

    return draggableCards.reduce(
      (closest, child) => {
        const box = child.getBoundingClientRect();
        const offset = y - box.top - box.height / 2;

        if (offset < 0 && offset > closest.offset) {
          return { offset: offset, element: child };
        } else {
          return closest;
        }
      },
      { offset: Number.NEGATIVE_INFINITY }
    ).element;
  }

  var dragSrcEl = null;
  function handleTouchStart(e) {
    dragSrcEl = this;
    var touch = e.changedTouches[0];
    this.setAttribute("data-touchstart-x", touch.clientX);
    this.setAttribute("data-touchstart-y", touch.clientY);
  }
  function handleTouchMove(e) {
    var touch = e.changedTouches[0];
    var touchstartX = parseInt(dragSrcEl.getAttribute("data-touchstart-x"), 10);
    var touchstartY = parseInt(dragSrcEl.getAttribute("data-touchstart-y"), 10);
    var touchX = touch.clientX;
    var touchY = touch.clientY;

    if (
      Math.abs(touchX - touchstartX) > 10 ||
      Math.abs(touchY - touchstartY) > 10
    ) {
      e.preventDefault();
      dragSrcEl.classList.add("dragging");

      var posX = parseInt(dragSrcEl.getAttribute("data-pos-x"), 10);
      var posY = parseInt(dragSrcEl.getAttribute("data-pos-y"), 10);
      var offsetX = touchX - touchstartX;
      var offsetY = touchY - touchstartY;
      // dragSrcEl.style.left = (posX + offsetX) + 'px';
      // dragSrcEl.style.top = (posY + offsetY) + 'px';
      dragSrcEl.style.transform =
        "translate(" + offsetX + "px, " + offsetY + "px)";
    }
  }

  function handleTouchEnd(e) {
    if (dragSrcEl.classList.contains("dragging")) {
      dragSrcEl.classList.remove("dragging");
      dragSrcEl.removeAttribute("style");
      var columns = document.querySelectorAll(".card.outer-card");
      var targetColumn = null;
      columns.forEach(function (column) {
        var rect = column.getBoundingClientRect();
        if (
          e.changedTouches[0].clientX > rect.left &&
          e.changedTouches[0].clientX < rect.right &&
          e.changedTouches[0].clientY > rect.top &&
          e.changedTouches[0].clientY < rect.bottom
        ) {
          targetColumn = column;
        }
      });
      if (targetColumn) {
        targetColumn.children[0].appendChild(dragSrcEl);
        const cardId = dragSrcEl.getAttribute("id").replace(/\D/g, "");
        const columnId = targetColumn.children[0]
          .getAttribute("id")
          .replace(/\D/g, "");
        update_deal_stage(cardId, columnId);
      }
    }
  }

  function handleDragStart(e) {
    dragSrcEl = this;
    e.dataTransfer.effectAllowed = "move";
    e.dataTransfer.setData("text/html", this.innerHTML);
    this.classList.add("dragging");
  }

  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }
    e.dataTransfer.dropEffect = "move";
    return false;
  }

  function handleDragEnter(e) {
    this.classList.add("over");
  }

  function handleDragLeave(e) {
    this.classList.remove("over");
  }

  function handleDrop(e) {
    if (e.stopPropagation) {
      e.stopPropagation();
    }
    this.children[0].appendChild(dragSrcEl);
    const cardId = dragSrcEl.getAttribute("id").replace(/\D/g, "");
    const columnId = this.children[0].getAttribute("id").replace(/\D/g, "");
    update_deal_stage(cardId, columnId);
    return false;
  }

  function handleDragEnd(e) {
    this.classList.remove("dragging");
  }

  var cards = document.querySelectorAll(".card.inner-card");
  [].forEach.call(cards, function (card) {
    card.addEventListener("dragstart", handleDragStart, false);
    card.addEventListener("dragenter", handleDragEnter, false);
    card.addEventListener("dragover", handleDragOver, false);
    card.addEventListener("dragleave", handleDragLeave, false);
    card.addEventListener("drop", handleDrop, false);
    card.addEventListener("dragend", handleDragEnd, false);

    card.addEventListener("touchstart", handleTouchStart, false);
    card.addEventListener("touchmove", handleTouchMove, false);
    card.addEventListener("touchend", handleTouchEnd, false);
  });
  var columns = document.querySelectorAll(".card.outer-card");
  [].forEach.call(columns, function (column) {
    column.addEventListener("dragover", handleDragOver, false);
    column.addEventListener("drop", handleDrop, false);
  });
</script>
{% endblock %}
