{% extends "layout.html" %}
{% set active_page = "bikes" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ url_for('bikes.get_bikes_view') }}" class="btn btn-md btn-outline-secondary" role="button">
                <span data-feather="arrow-left"></span>
                  Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <ul class="list-group list-group-flush">

                <li class="list-group-item g_field">
                  <div class="label">Marka roweru</div>
                    <div class="text">{{ bike.manufacturer if bike.manufacturer else '_' }}</div>
              </li>

                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-6">
                          <div class="label">Model roweru</div>
                          <div class="text">{{ bike.model if bike.model else '_' }}</div>
                      </div>
                  </div>
                </li>

                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-6">
                          <div class="label">Kontakt do klienta</div>
                          <div class="text">
                              <span data-feather="phone" class="mr-1"></span> {{ bike.contact.phone  if bike.contact.phone else '_' }}
                          </div>
                      </div>
                    </div>
              </li>
            </ul>
        </div>
    </div>
    {% endblock %}