{% extends "layout.html" %}
{% set active_page = "contacts" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
    </div>
    {% include "contacts/filters.html" %}
    {% if contacts.items()|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-hover fixed-layout-table">
              <thead class="thead-light">
                <tr>
                  <th width="40" scope="col">
                      <input type="checkbox" id="select_all" value="all" />
                  </th>
                    <th width="150"></th>
                  <th width="150" scope="col">Imię</th>
                  <!--  <th width="150" scope="col">Nazwisko</th> -->
                    <th width="150" scope="col">Telefon</th>
                    <th width="200" scope="col">Serwisant</th>
                    <th width="200" scope="col">Data utworzenia</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts.items() %}
                <tr>
                  <th scope="row">
                      <input class="cb" type="checkbox" value="{{ contact.id }}" />
                  </th>
                    <th>
                        <a href="{{ url_for('contacts.update_contact', contact_id=contact.id) }}"
                           class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="edit"></span>
                        </a>
                        {% with contact_id=contact.id %}
                            {% include 'contacts/single_contact_delete_modal.html' %}
                        {% endwith %}
                        <a href="{{ url_for('contacts.get_contact_view', contact_id=contact.id) }}"
                           class="btn btn-outline-secondary btn-sm mr-1" role="button">
                            <span data-feather="arrow-up-right"></span>
                        </a>
                    </th>
                  <td>{{ contact.first_name }}</td>
                  <!--  <td>{{ contact.last_name }}</td> -->
                    <td>{{ contact.phone }}</td>
                    <td>{% with owner=contact.contact_owner %}{% include 'common/owner_cell.html' %}{% endwith %}</td>
                    <td>{{ contact.date_created.strftime('%Y-%m-%d') if contact.date_created }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- pagination -->
        {% if contacts.total_records > 10 %}
            {% with view_id="contacts.get_contacts_view", items=contacts %}
                {% include "common/pagination.html" %}
            {% endwith %}
        {% endif %}
    {% else %}
        <div class="container text-center pt-4">
            <div><span data-feather="eye-off"></span></div>
            <p>Brak klientów. Utwórz zlecenie serwisowe aby dodać klienta.</p>
        </div>
    {%  endif %}
<script>
    $(document).ready(function() {
        $('#select_all').on('click', function() {
            if ($(this).is(':checked')) {
                $('.cb').prop('checked', true);
            } else {
                $('.cb').prop('checked', false);
            }
        });
    });
</script>
{% endblock %}