{% extends "layout.html" %}
{% set active_page = "contacts" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ url_for('contacts.update_contact', contact_id=contact.id) }}"
               class="btn btn-md btn-outline-primary mr-2" role="button">
                <span data-feather="edit-2"></span>
                  Edytuj
            </a>
            <a href="{{ url_for('contacts.get_contacts_view') }}" class="btn btn-md btn-outline-secondary" role="button">
                <span data-feather="arrow-left"></span>
                  Powrót do listy klientów
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-6">
                          <div class="label">Telefon</div>
                          <div class="text">
                              <span data-feather="phone" class="mr-1"></span> {{ contact.phone if contact.phone else '_' }}
                          </div>
                      </div>
                    </div>
              </li>

                <li class="list-group-item g_field">
                  <div class="label">Serwisant</div>
                    {% if contact.contact_owner %}
                    <div class="text">
                        <div class="mt-1">
                            {% with owner=contact.contact_owner %}{% include 'common/owner_cell.html' %}{% endwith %}
                        </div>
                    </div>
                    {% else %}
                        <div class="text">_</div>
                    {% endif %}
              </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mt-4">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a href="#bikes-tab" data-toggle="tab" role="tab" aria-controls="bikes" aria-selected="true"
                     class="nav-link active">Rowery</a>
              </li>
            </ul>
            <div class="tab-content p-4">
              <div class="tab-pane fade show active" id="bikes-tab" role="tabpanel" aria-labelledby="bikes-tab">
                <div class="mt-2 mb-4">Rowery klienta</div>
                  {% if contact.contact_bikes|length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Marka</th>
                                    <th>Model</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bike in contact.contact_bikes %}
                                    <tr>
                                        <td>{{ bike.manufacturer }}</td>
                                        <td>{{ bike.model }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                  {% else %}
                    <p>Brak rowerów</p>
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
    {% endblock %}